body{
    font-family: 'Raleway', sans-serif !important;
}

:root{
    --item-gap: 15px;
}

[data-gap="5"]{--item-gap: 5px;}
[data-gap="10"]{--item-gap: 10px;}
[data-gap="15"]{--item-gap: 15px;}
[data-gap="20"]{--item-gap: 20px;}

[grid-item-width="1/2"] {
    --grid-item-width: calc((100% / 2) - var(--item-gap));
}
[grid-item-width="1/3"] {
    --grid-item-width: calc((100% / 3) - var(--item-gap));
}
[grid-item-width="1/4"] {
    --grid-item-width: calc((100% / 4) - var(--item-gap));
}

.h-list{
    display: flex; align-items: center; grid-gap: var(--item-gap);
}
.grid{
    display: grid;
    grid-gap: var(--item-gap);
    grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
}
[gap-type="mb"] {
    margin-bottom: var(--item-gap);
}
  
[gap-type="pb"] {
    padding-bottom: var(--item-gap);
}

.auto-fr {
    display: grid;
    margin: 0;
    padding: 0;
    grid-gap: var(--item-gap);
    grid-template-columns: auto 1fr;
    align-items: center;
}
  
.fr-auto {
    display: grid;
    margin: 0;
    padding: 0;
    grid-gap: var(--item-gap);
    grid-template-columns: 1fr auto;
    align-items: center;
}

.site-header{
    position: relative;
    z-index: 5;
    background-color: #fff;
    box-shadow: inset 0 -1px 0 0 #ededed;
    .header{
        display: flex;
        z-index: 6;
        align-items: center;
        justify-content: space-between;
        height: 72px;
        .search-input{
            width: 50%;
            padding: 10px;
            border: 1px solid #c1c1c1;
            background-color: #f9f9f9;
        }
        .header-userInfo{
            list-style: none;
            display: flex;
            align-items: center;
            grid-gap: 10px;
            padding: 0;
            margin: 0;
            li{
                a{
                    font-size: 11px;
                    color: #111;
                    text-align: center;
                }
            }
        }
    }
}

.site-navbar{
    box-shadow: 1px 0 5px 0 rgba(0,0,0,.08);
    nav{
        .nav-bar{
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 48px;
            li{
                height: 100%;
                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    padding: 0 10px;
                    color: #111;
                    font-weight: 600;
                    font-size: 15px;
                    text-transform: uppercase;
                }
            }
        }
    }
}

.info-badge{
    padding: 10px 0;
    margin-bottom: 10px;
    text-align: center;
    font-size: 13px;
    color: black;
    a{
        text-decoration: underline;
        color: black;
        font-weight: 600;
    }
}

.promotions{
    .promotions-slider{
        .promo{
            width: 100%;
            img{
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

.site-features{
    .grid{
        margin-bottom: 20px;
        .img-holder{
            width: 100%;
            img{
                width: 100%;
                object-fit: cover;
            }
        }
    }
    .features-banner{
        width: 100%;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
}

.featured-categories{
    .category-heading{
        width: 100%;
        padding: 24px 0;
        margin-top: 32px;
        color: #111;
        font-family: 'raleway';
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    }
    .category{
        position: relative;
        .img-holder{
            width: 100%;
            img{
                width: 100%;
            }
        }
        .title-overlay{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 40px;
            padding-right: 20px;
            background-color: rgba(0,0,0,.4);
            color: #fff;
            font-family: 'raleway';
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            grid-gap: 3px;
            h4{
                font-weight: 700;
                font-size: 16px;
                text-decoration: underline;
            }
            .arrow {
                border: solid white;
                border-width: 5px;
                display: inline-block;
                border-bottom-color: transparent;
                border-left-color: transparent;
                transform: rotate(45deg);
              }
        }
    }
}

.show-more-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    .show-more-btn{
        width: 370px;
        height: 56px;
        padding-top: 19px;
        padding-bottom: 19px;
        margin-bottom: 80px;
        border: 1px solid;
        color: #4a4a4a;
        font-family: 'raleway';
        font-size: 14px;
        text-transform: uppercase;
        background-color: transparent;
        font-weight: 600;
    }
}

#site-footer{
    .top-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 216px;
        background: #fff;
        color: #111;
        .grid-list{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            .item{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .icon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 88px;
                    height: 88px;
                    min-width: 88px;
                    background: #111;
                    color: #fff;
                    font-size: 30px;
                    border-radius: 50%;
                }
                .description{
                    margin: 0 15px;
                    h3{
                        font-size: 16px;
                        font-weight: 600;
                        text-transform: uppercase;
                        padding: 0;
                        margin: 5px 0;
                    }
                    p{
                        font-size: 14px;
                        padding: 0;
                        margin: 0;
                    }
                }
            }
        }
    }
    .middle-footer{
        background-color: #111;
        .grid{
            padding: 80px 0;
            .item{
                .footer-title{
                    font-size: 13px;
                    text-transform: uppercase;
                    color: #fff;
                    font-weight: 600;
                    margin-bottom: 25px;
                }
                .footer-links{
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    margin-bottom: 30px;
                    display: flex;
                    flex-direction: column;
                    li{
                        margin-bottom: 10px;
                        font-size: 13px;
                        a{
                            color: white;
                        }
                    }
                    &:last-child{
                        margin-bottom: 0px;
                    }
                }
                .footer-logo{
                    padding-bottom: 20px;
                    margin-bottom: 45px;
                    border-bottom: 1px solid #7f7f7f;
                }
                .social-links{
                    list-style: none;
                    padding: 0;
                    display: flex;
                    align-items: center;
                    margin: 0;
                    margin-bottom: 34px;
                    li{
                        margin-right: 15px;
                        a{
                            background: white;
                            padding: 5px 7px;
                            border-radius: 100%;
                            font-size: 12px;
                            text-align: center;
                            color: black;
                            &:hover{
                                background-color: rgba(255, 255, 255, 0.5);
                            }
                        }
                    }
                }
            }
        }
    }
    .bottom-footer{
        background-color: #111;
        color: #C5BC96;
        border-top: 1px solid #fff;
        
        .h-list{
            justify-content: space-between;
            font-size: 13px;
            grid-gap: 0;
            height: 60px;
            .bottom-menu{
                display: flex;
                list-style: none;
                padding: 0;
                margin: 0;
                li{
                    a{
                        color: inherit
                    }
                    &::after{
                        content: "";
                        height: 10px;
                        margin: 0 5px;
                        border-right: 1px solid #C5BC96;
                    }
                    &:last-child{
                        &::after{
                            content: none;

                        }
                    }
                };
            }
        }
    }
}

